doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Zzom
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
  body 
  header 
    h1 우리 지금 Zzom 만나!
  main
    div#myStream
    video#myFace(autoplay, playsinline, width="400", height="400") 
    button#mute 내 마이크 끄기
    button#camera 내 카메라 끄기
    select#cameras




  //playinline은 모바일에서 비디오화면이 전체화면으로만 실행되는 것을 막아 줌 
  //main 
  //  div#welcome
  //    form
  //      input#roomName(placeholder="chatroom's name" required, type="text")
  //      input#nickName(placeholder="your nickname" required, type="text")
  //      button Enter room
  //    h4 현재 개설된 방: 
  //    ul
  //  div#room
  //    h3
  //    ul
  //    form#msg
  //      input(placeholder="message", required, type="text")
  //      button Send




  script(src="https://unpkg.com/@reactivex/rxjs/dist/global/rxjs.umd.js") 
  script(src="/socket.io/socket.io.js")
  script(src="/public/js/app.js") 